<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Laravel PHP Framework</title>
    {{ stylesheet_link_tag() }}
    {{ javascript_include_tag() }}
</head>
<body>
    <div class="welcome">
        <h1>You have arrived.</h1>
    </div>
</body>
</html>
